<div>
    <h1>Minha História</h1>
    <p>“Com Deus existindo, tudo dá esperança: sempre um milagre é possível, o mundo se resolve. Mas, se não tem Deus,
        há-de a gente perdidos no vaivem, e a vida é burra. É o aberto perigo das grandes e pequenas horas, não se
        podendo facilitar – é todos contra os acasos. Tendo Deus, é menos grave se descuidar um pouquinho, pois no fim
        dá certo. Mas, se não tem Deus, então, a gente não tem licença de coisa nenhuma! Porque existe dor.”
    </p>

    <h4>{{nome}}</h4>
    <h4>{{idade}}</h4>
    <h4>{{hobby}}</h4>
</div>